<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-lazy-init="true">

    <context:component-scan base-package="com.spring.thrift"/>
    <bean id="userServiceImpl" class="com.spring.thrift.service.UserServiceImpl"/>

    <bean class="com.spring.thrift.proxy.ThriftServerProxy">
        <property name="port" value="8080"/>
        <property name="serviceInterface" value="com.spring.thrift.api.UserService"/>
        <property name="serviceImplObject" ref="userServiceImpl"/>
    </bean>

</beans>
